extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css', media='screen')
  script(src='javascripts/index.js')
  form
    div(style="width:100%;margin-bottom:10px;")
      div#title: h1= title
      input(type="image" src="/images/camera.png")#cameraBtn
    div(style="clear:both;"): input(type="file" accept="image/*" capture="camera" style="display:none;")#imageFile
    div(id="photos")
