extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css', media='screen')
  script(src='javascripts/index.js')
  form
    
    //- 削除確認
    #dialog-confirm(title="Empty the recycle bin?" style="display:none;")
      p
        span.ui-icon.ui-icon-alert(style="float:left; margin:12px 12px 20px 0;")
        'These items will be permanently deleted and cannot be recovered. Are you sure?'
        
    //- コルクボード
    .header
      #title: span=title
      //- a#slideshowBtn: img(type="image" src="/images/slideshow.png")
      input(type="image" src="/images/camera.png")#cameraBtn
    div(style="clear:both;"): input(type="file" accept="image/*" capture="camera")#imageFile
    #photos
    
    //- スライドショー
    #slideshow
      a#slideshowCloseBtn: img(type="image" src="/images/fancy_closebox.png")
      img#slidePhoto
