extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css', media='screen')
  script(src='javascripts/index.js')
  form
    div.header
      div#title: span=title
      a#slideshowBtn: img(type="image" src="/images/slideshow.png")
      input(type="image" src="/images/camera.png")#cameraBtn
    div(style="clear:both;"): input(type="file" accept="image/*" capture="camera")#imageFile
    div(id="photos")
    div#slideshow
      a#slideshowCloseBtn: img(type="image" src="/images/fancy_closebox.png")
      div
        img#slidePhoto
