
.header {
	width:100%;
	margin-bottom:10px;
}

#slideshowBtn {
	cursor : pointer;
	float:right;
	display : none;
}
#slideshowBtn img{
	width : 60px;
}

input#cameraBtn {
	background-image: url(../images/camera.png);
	cursor : pointer;
	width : 80px;
	float:right;
	display : none;
}

#title {
	float:left;
}

#imageFile {
	display :none;
}

#photos {
	width: 100%;
	margin: auto;
}

.smallimage {
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #CCC;
	padding: 3px;
	max-width : 120px;
	max-height : 120px;
	margin: 3px;
}

.fancybox-title {
	cursor : pointer;
}

#slideshow {
	position : fixed;
	top : 0;
	left : 0;
	background-color : #000000;
	height : 100%;
	width : 100%;
	display : none;
	text-align : center;
}

#slideshowCloseBtn {
	position : fixed;
	right : 5px;
	top : 5px;
	margin : 10px 10px 10px 10px;
	cursor : pointer;
	z-index : 10;
}

#slideshow div {
	height : 100%;
	width : 100%;
	overflow: hidden;
	position: relative;

}

#slidePhoto {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index : 1;
}